body {
  font-family: Avenir, Helvetica, sans-serif;
  background-color: #e2e1e0;
  color: #363636;
}

h1 {
  text-align: center;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  width: 300px;
  height: 600px;
  margin: 1rem;
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden;
  overflow-y: scroll;
  padding: 0.5em;
}

.card-sticky {
  position: sticky;
  top: 1.5em;
}

.card-title {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.counter-container {
  top: 1em;
}

.img-grid {
  display: grid;
  justify-content: center;
}

img {
  margin: 0.5em;
  min-height: 500px;
  min-width: 500px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
