body {
  font-family: Avenir, Helvetica, sans-serif;
  color: #363636;
}

h1 {
  text-align: center;
}

.img-container {
  width: 100%;
}

.img-grid {
  display: grid;
  justify-content: center;
}

img {
  min-height: 500px;
  min-width: 500px;
}
