body {
  font-family: Avenir, Helvetica, sans-serif;
  background-color: whitesmoke;
  color: #363636;
}

h1 {
  color: tomato;
  text-align: center;
}

/* Giving a better a11y visual focus indication for links and buttons */
a,
button {
  margin: -0.25em;
  padding: 0.25em;
}

.author-info {
  margin-top: 0;
  text-align: center;
  font-size: 18px;
  color: darkslategrey;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden;
  overflow-y: scroll;
  padding: 0 1em;
}

.card-sticky {
  position: sticky;
  top: 1.5em;
}

.card-section-heading {
  font-weight: bold;
  font-size: 18px;
}

.images-loaded-card {
  width: 300px;
  height: 600px;
}

.info-card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 75px;
  width: 300px;
  overflow: hidden;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.counter-container {
  top: 1em;
}

.images-loaded-heading {
  text-align: center;
}

.img-grid {
  display: grid;
  justify-content: center;
}

img {
  margin: 0.5em;
  min-height: 500px;
  min-width: 500px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.icon {
  height: 32px;
  width: 32px;
  cursor: pointer;
  content: '';
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

.github-icon {
  background-image: url('./GitHub-Mark-32px.png');
}

.linkedin-icon {
  background-image: url('./linked-in-logo.svg');
}

.stackoverflow-icon {
  height: 37px;
  background-image: url('./stackoverflow-logo.svg');
}

.email-qr-code-icon {
  height: 40px;
  width: 40px;
  min-width: 0;
  min-height: 0;
  margin: -0.5em 0 0 0;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  height: 40px;
  width: 40px;
  transform: translate(-50%, -50%);
}

[class^='ball-'] {
  position: absolute;
  display: block;
  left: 30px;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  transition: all 0.5s;
  animation: circleRotate 4s both infinite;
  transform-origin: 0 250% 0;
}

@keyframes circleRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1440deg);
  }
}

.ball-1 {
  z-index: -1;
  background-color: #0099ff;
  animation-timing-function: cubic-bezier(0.5, 0.3, 0.9, 0.9);
}

.ball-2 {
  z-index: -2;
  background-color: #85ff28;
  animation-timing-function: cubic-bezier(0.5, 0.6, 0.9, 0.9);
}

.ball-3 {
  z-index: -3;
  background-color: #00bcd4;
  animation-timing-function: cubic-bezier(0.5, 0.9, 0.9, 0.9);
}

.ball-4 {
  z-index: -4;
  background-color: #ceff5c;
  animation-timing-function: cubic-bezier(0.5, 1.2, 0.9, 0.9);
}

.ball-5 {
  z-index: -5;
  background-color: #c0faff;
  animation-timing-function: cubic-bezier(0.5, 1.5, 0.9, 0.9);
}

.ball-6 {
  z-index: -6;
  background-color: #c46eff;
  animation-timing-function: cubic-bezier(0.5, 1.8, 0.9, 0.9);
}

.ball-7 {
  z-index: -7;
  background-color: rgb(255, 197, 71);
  animation-timing-function: cubic-bezier(0.5, 2.1, 0.9, 0.9);
}

.ball-8 {
  z-index: -8;
  background-color: tomato;
  animation-timing-function: cubic-bezier(0.5, 2.4, 0.9, 0.9);
}
