body {
  font-family: Avenir, Helvetica, sans-serif;
  background-color: whitesmoke;
  color: #363636;
}

h1 {
  color: tomato;
  text-align: center;
}

/* Giving a better a11y visual focus indication for links and buttons */
a,
button {
  margin: -0.25em;
  padding: 0.25em;
}

.author-info {
  margin-top: 0;
  text-align: center;
  font-size: 18px;
  color: darkslategrey;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden;
  overflow-y: scroll;
  padding: 0 1em;
}

.card-sticky {
  position: sticky;
  top: 1.5em;
}

.card-section-heading {
  font-weight: bold;
  font-size: 18px;
}

.images-loaded-card {
  width: 300px;
  height: 600px;
}

.info-card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 75px;
  width: 300px;
  overflow: hidden;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.counter-container {
  top: 1em;
}

.images-loaded-heading {
  text-align: center;
}

.img-grid {
  display: grid;
  justify-content: center;
}

img {
  margin: 0.5em;
  min-height: 500px;
  min-width: 500px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.icon {
  height: 32px;
  width: 32px;
  cursor: pointer;
  content: '';
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

.github-icon {
  background-image: url('./GitHub-Mark-32px.png');
}

.linkedin-icon {
  background-image: url('./linked-in-logo.svg');
}

.stackoverflow-icon {
  height: 37px;
  background-image: url('./stackoverflow-logo.svg');
}

.email-qr-code-icon {
  height: 40px;
  width: 40px;
  min-width: 0;
  min-height: 0;
  margin: -0.5em 0 0 0;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}

.loader {
  color: #ffffff;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}

.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 3.5em;
}

@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
