body {
  font-family: Avenir, Helvetica, sans-serif;
  background-color: whitesmoke;
  color: #363636;
}

h1 {
  color: tomato;
  text-align: center;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden;
  overflow-y: scroll;
  padding: 0 1em;
}

.card-sticky {
  position: sticky;
  top: 1.5em;
}

.card-section-heading {
  font-weight: bold;
  font-size: 18px;
}

.images-loaded-card {
  width: 300px;
  height: 600px;
}

.info-card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 75px;
  width: 300px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.counter-container {
  top: 1em;
}

.images-loaded-heading {
  text-align: center;
}

.img-grid {
  display: grid;
  justify-content: center;
}

img {
  margin: 0.5em;
  min-height: 500px;
  min-width: 500px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.icon {
  height: 32px;
  width: 32px;
  cursor: pointer;
  content: '';
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

.github-icon {
  background-image: url('./GitHub-Mark-32px.png');
}

.linkedin-icon {
  background-image: url('./linked-in-logo.svg');
}

.stackoverflow-icon {
  height: 37px;
  background-image: url('./stackoverflow-logo.svg');
}
